{% extends "layout.html" %}
{% block title %}Mars{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6 mx-auto">
    <h1 class="display-4">Mars Curiosity Images:</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="{{ item.image_url }}" width="500" height="500">
  </div>
  <div class="col-md-6">
    <form action="/mars" method="post">
      <input class="form-check-input" type="radio" name="selected" value="FHAZ" >Front Hazard Avoidance Camera</input><br>
      <input class="form-check-input" type="radio" name="selected" value="RHAZ">Rear Hazard Avoidance Camera</input><br>
      <input class="form-check-input" type="radio" name="selected" value="MAST">Mast Camera</input><br>
      <input class="form-check-input" type="radio" name="selected" value="CHEMCAM">Chemistry and Camera Complex</input><br>
      <input class="form-check-input" type="radio" name="selected" value="MAHLI">Mars Hand Lens Imager</input><br>
      <input class="form-check-input" type="radio" name="selected" value="MARDI">Mars Descent Imager</input><br>
      <input class="form-check-input" type="radio" name="selected" value="NAVCAM">Navigation Camera</input><br>
      <input type="submit" value="Select Camera" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
{% endblock %}
